/* ----------General styles---------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Quicksand";
}

:root {
  --dark-beige: #e6dacd;
  --light-beige: #f4ece6;
  --royal-blue: #0150fd;
  --black: #000;
  --white: #fff;
  --shadow-white: #bbb8b8;
}

h1 {
  font-family: "Poppins";
}
h2 {
  font-family: "Poppins";
}
h3 {
  font-family: "Poppins";
}

/* ----------Header styles---------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 1px 10px #f1f1f1;
  background-color: var(--white);
  position: fixed;
  z-index: 1;
}

.name {
  display: flex;
}

.blue-dot {
  width: 15px;
  height: 15px;
  background-color: var(--royal-blue);
  position: relative;
  top: 10px;
  left: 8px;
}

.myName {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 1.5rem;
  margin-left: 15px;
}

.nav-links {
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
}

nav a {
  color: var(--black);
}

nav a:nth-child(1) {
  color: var(--royal-blue);
}

nav a:hover {
  color: var(--royal-blue);
}

/* ----------Main styles---------------*/

main {
  background: linear-gradient(90deg, var(--dark-beige) 40%, var(--white) 40%);
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer-grid {
  width: 55vw;
  display: flex;
  height: 70vh;
}

.left-side-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-beige);
  align-items: center;
  box-shadow: -5px 3px 15px var(--shadow-white);
}

.upper-container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.upper-container h3 {
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.upper-container p {
  letter-spacing: 0.2rem;
  text-align: center;
}

.round-photo {
  border-radius: 100%;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.round-photo img {
  width: 120%;
  height: 120%;
  position: relative;
}

.blueLine {
  width: 20%;
  border-bottom: 3px solid var(--royal-blue);
}

.social-media-icons {
  background-color: var(--white);
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.imgContainer {
  width: 20px;
  height: 20px;
}

.social-media-icons img {
  width: 100%;
}

.right-side-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 3rem;
  justify-content: space-between;
  padding-bottom: 10px;
}

.right-side-column h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

.firstP {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttons button {
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 600;
}

.button1 {
  border: 2px solid var(--royal-blue);
  background-color: var(--royal-blue);
  color: var(--white);
}

.button1:hover {
  background-color: var(--white);
  color: var(--black);
  transition: 0.5s;
}

.button2:hover {
  background-color: var(--royal-blue);
  color: var(--white);
  transition: 0.5s;
  border: 2px solid var(--royal-blue);
}

.button2 {
  background-color: var(--white);
}

.secondP {
  line-height: 1.5rem;
  text-align: justify;
  padding-right: 3rem;
}

/* ----------Footer styles---------------*/

footer {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 2rem;
}

.social-media-icons2 img {
  width: 100%;
}

.contacts-section {
  display: flex;
  gap: 40px;
}

.contacts-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media-icons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100px;
}

.imgContainer2 {
  width: 15px;
  height: 15px;
}
